* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
}

.container {
    display: grid;
    grid-template:
        "nav header" 20%
        "nav main" 1fr
        / 15% 85%; 
    min-height: 100vh;;
}

aside {
    background-color: rgb(1, 164, 214);
    color: white;
    grid-area: nav;
    display: grid;
    grid-template:
        "aside1" 10%
        "aside2" 40%
        "aside3" 1fr
        / 1fr;
    padding: 30px;
}

aside h2 {
    grid-area: aside1;
} 

aside nav:first-of-type {
    grid-area: aside2;
}

aside nav:nth-of-type(2) {
    grid-area: aside3;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;
    font-weight: 600;

}

aside nav ul li {
    list-style-type: none;
    cursor: pointer;
}

header {
    background-color:rgb(255, 255, 255);
    grid-area: header;
    display: grid;
    grid-template:
    "header1 header2" 1fr
    "header1 header2" 1fr
    / 3fr 1fr;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    z-index:1;
    padding: 20px;
}

.hero-left {
    grid-area: header1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-right {
    grid-area: header2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


main {
    background-color:rgb(230, 230, 230);
    grid-area: main;
    display: grid;
    grid-template:
    "col1 col2" 1fr
    "col1 col2" 1fr
    / 3fr 1fr;
    padding: 30px;
    gap: 30px;
}

.main-left  {
    grid-area: col1;
    display: grid;
    grid-template:
    "he he" auto
    "c c" 1fr
    / 1fr 1fr;
    gap: 20px;
    
}
.main-header {
    grid-area: he;
}
.main-cards {
    grid-area: c;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
}

.card {
    background-color: white;
    padding: 30px;
}


.main-right  {
    grid-area: col2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
